
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar">
    <a class="navbar-brand" href="#">Lawrenceville Programming</a>
  </nav>
  <div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is our first meeting of 2019, please take the google form below so that we know what you are looking for.</p>
    <hr class="my-4">
    <p>Click the button below to go to the form</p>
    <a class="btn btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSfoe-Vbat7-lc27XynE7ArIMwek3w8oLWoYirT6-C8oddJrEA/viewform?usp=sf_link" role="button">The Form</a>
  </div>

</body>
</html>
